* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(45deg, rgb(127, 79, 190), rgb(79, 42, 165));
    height: 100vh;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.nome {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nome span {
    font-size: 23vw;
    font-weight: 700;
    text-shadow: -0.08em 0.03em 0.12em rgba(0, 0, 0, 0.9);
}

.nome span:not(:first-child) {
    margin-left: -0.20em;
}
